.button{
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid $bordeBoton;
  cursor: pointer;

  &.primary{
    background-color: $primary;
    color: #ffffff;
  }

}